{% if wireviz_errors %}
<div class='alert alert-info alert-danger'>
    <b>The following errors were encountered while processing the wireviz file:</b>
    <ul>
    {% for err in wireviz_errors %}
    <li>{{ err }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if wireviz_warnings %}
<div class='alert alert-info alert-warnings'>
    <b>The following warnings were encountered while processing the wireviz file:</b>
    <ul>
    {% for warn in wireviz_warnings %}
    <li>{{ warn }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if wireviz_harness_html %}
<div id='wireviz-harness-html' style='width: 100%;'>
    {{ wireviz_harness_html | safe }}
</div>
{% else %}
<div class='alert alert-info alert-block'>
    No harness diagram available for this part.<br>
    Upload a .wireviz file to generate a harness diagram.
</div>
{% endif %}
