{% if wireviz_errors %}
<div class='alert alert-block alert-danger'>
    <b>The following errors were encountered while processing the wireviz file:</b>
    <ul>
    {% for err in wireviz_errors %}
    <li>{{ err }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if wireviz_warnings %}
<div class='alert alert-block alert-warning'>
    <b>The following warnings were encountered while processing the wireviz file:</b>
    <ul>
    {% for warn in wireviz_warnings %}
    <li>{{ warn }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<div class='row'>
    <div class='col-sm-6'>
        {% if wireviz_svg_file %}
        <a href='{{ wireviz_svg_file }}'>
            <img src='{{ wireviz_svg_file }}' style='width: 85%;'>
        </a>
        {% else %}
        <div class='alert alert-block alert-error'>Harness diagram not found</div>
        {% endif %}
    </div>
    <div class='col-sm-6'>
        {% if wireviz_bom_data %}
        <table class='table table-striped table-condensed'>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Designators</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>P/N</th>
                </tr>
            </thead>
            <tbody>
                {% for item in wireviz_bom_data %}
                <tr>
                    <td>{{ item.idx }}</td>
                    <td>{{ item.designators }}</td>
                    <td>{{ item.description }}</td>
                    <td>
                        {{ item.quantity }}
                        {% if item.unit %}
                        &nbsp;<small>[{{ item.unit }}]</small>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.sub_part %}
                        <a href='{% url "part-detail" item.sub_part %}'>{{ item.pn }}</a>
                        {% else %}
                        <span style='color: #F00;'>{{ item.pn }}</span> <span class='float-right icon-red fas fa-times-circle' title='No match found'></span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class='alert alert-block alert-error'>BOM data not found</div>
        {% endif %}
    </div>
</div>
{% if wireviz_source_file %}
<a href='{{ wireviz_source_file }}'>Source file</a>
{% endif %}
