{% if wireviz_errors %}
<div class='alert alert-info alert-danger'>
    <b>The following errors were encountered while processing the wireviz file:</b>
    <ul>
    {% for err in wireviz_errors %}
    <li>{{ err }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if wireviz_warnings %}
<div class='alert alert-info alert-warnings'>
    <b>The following warnings were encountered while processing the wireviz file:</b>
    <ul>
    {% for warn in wireviz_warnings %}
    <li>{{ warn }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if wireviz_harness_svg %}
<div id='wireviz-harness-svg' style='width: 100%;'>
    <img src='{{ wireviz_harness_svg }}' class='img-fluid' alt='Harness diagram' />
</div>
{% else %}
<div class='alert alert-info alert-block'>
    No harness diagram available for this part.<br>
    Upload a .wireviz file to generate a harness diagram.
</div>
{% endif %}

{% if wireviz_bom_data %}
<div id='wireviz-bom-data'>
    <table class='table table-striped table-condensed'>
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
{% endif %}